<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAt-ZKyftJR8ZmH4-r0-HwSLJlsrFKgneA</string>
	<key>GCM_SENDER_ID</key>
	<string>961839503039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alharazi.CoGuard</string>
	<key>PROJECT_ID</key>
	<string>coguard-ios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>coguard-ios-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961839503039:ios:4ab7b91d3e17068ade580a</string>
	<key>DATABASE_URL</key>
	<string>https://coguard-ios-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>